POSTGRES_USER=postgres
POSTGRES_PASSWORD=pg-password
POSTGRES_DB=live_score
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
REDIS_PASSWORD=redis-password
KAFKA_CLUSTER_ID=Y2x1c3Rlci1pZC11bmlxdWUtbWFzdGVyLWJsYXN0ZXItcG93ZXI=
KAFKA_BROKERS=broker-0:9094,broker-1:9094,broker-2:9094
KAFKA_CLIENT_ID=live-score
KAFKA_CONSUMER_GROUP_ID=game-process
REDIS_DB=0
REDIS_ADDR=127.0.0.1:6379
TOPIC_SNAPSHOT=match.snapshots.v1
TOPIC_EVENTS=match.events.v1
