POSTGRES_USER: postgres
POSTGRES_PASSWORD: pg-password
POSTGRES_DB: live_score
POSTGRES_HOST: localhost
POSTGRES_PORT: 5432
REDIS_PASSWORD: redis-password
KAFKA_CLUSTER_ID: Y2x1c3Rlci1pZC11bmlxdWUtbWFzdGVyLWJsYXN0ZXItcG93ZXI=
